html {
  background-color: lightskyblue;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 960px;
  height: 960px;
  /* background-color: honeydew; */
  margin: auto;
  margin-top: 200px;
}

.square {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  outline: 2px black solid;
  background-color: pink;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.square:hover {
  background-color: purple;

}

